Repository dwightjack/currency-converter: changes, and which lefthook commands are due for each by the changed paths.
All: linter, styles

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    linter:
      glob: "*.{mjs,cjs,js,ts,svelte}"
      run: npx eslint {staged_files}
    styles:
      glob: "*.{css,svelte}"
      run: npx stylelint {staged_files}

refactor: migrate to unocss
  package-lock.json
  package.json
  src/App.svelte
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
  src/components/CurrencyBox.svelte
  src/main.ts
  vite.config.js
  windi.config.js
Due: linter, styles

feat: review and pwa setup
  netlify.toml
  src/components/Calculator.svelte
  vite.config.js
Due: linter, styles

chore: regenerate lock file
  package-lock.json
Due: none

ci: use node version file
  .github/workflows/main.yml
Due: none

chore: update npm version and lock file
  package-lock.json
  package.json
Due: none

chore: migrate to pnpm
  .github/workflows/main.yml
  lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

chore: fix prettier plugin
  package.json
Due: none

docs: update readme
  README.md
Due: none

chore: fix deps
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

style: fix linting
  src/App.svelte
Due: linter, styles

ui updates
  config/theme.js
  src/App.svelte
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
  src/components/ControlButton.svelte
  src/components/CurrencyBox.svelte
  src/components/Flag.svelte
  src/components/ModalDialog.svelte
  src/db.ts
  src/stores/currency.ts
  src/types.d.ts
  src/utils.ts
  vite.config.js
Due: linter, styles

use logical properties
  src/App.svelte
  src/components/Calculator.svelte
  src/components/ControlButton.svelte
  src/components/CurrencyBox.svelte
  src/components/CurrencyInput.svelte
  src/components/Flag.svelte
  src/components/Icon.svelte
  src/components/ModalDialog.svelte
Due: linter, styles

ui and dx improvements
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/App.svelte
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
  src/components/ControlButton.svelte
  src/components/CurrencyBox.svelte
  src/components/CurrencyInput.svelte
  src/components/Flag.svelte
  src/components/Icon.svelte
  src/components/ModalDialog.svelte
  src/icons/calculator.svelte
  src/icons/check.svelte
  src/icons/chevron-down.svelte
  src/icons/close.svelte
  src/icons/switch.svelte
  src/stores/currency.ts
  vite.config.js
Due: linter, styles

dark mode
  config/theme.js
  index.html
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
  src/components/ControlButton.svelte
  src/components/CurrencyBox.svelte
  src/components/CurrencyInput.svelte
  src/components/ModalDialog.svelte
  vite.config.js
Due: linter, styles

update unocss to latest setup
  config/theme.js
  package.json
  pnpm-lock.yaml
  src/main.ts
  tsconfig.json
  uno.config.js
  vite.config.js
Due: linter

simplify config
  src/components/Flag.svelte
  src/components/Icon.svelte
  uno.config.js
Due: linter, styles

a11y improvements
  src/App.svelte
  src/components/Calculator.svelte
  src/components/CurrencyBox.svelte
  src/components/ModalDialog.svelte
Due: linter, styles

update lock file
  pnpm-lock.yaml
Due: none

update lock file
  package.json
  pnpm-lock.yaml
Due: none

color scheme meta
  index.html
Due: none

update pwa setting
  src/main.ts
  tsconfig.json
Due: linter

fix dark theme top bar
  index.html
  vite.config.js
Due: linter

chore: update node version
  package.json
Due: none

refactor: remove styleling and use only unocss
  .stylelintrc.json
  .vscode/settings.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/App.svelte
  src/components/Calculator.svelte
  uno.config.js
Due: linter, styles

sort by currency name
  src/db.ts
Due: linter

playwright initial setup
  .eslintrc.json
  .github/actions/setup/action.yml
  .github/workflows/main.yml
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/converter.spec.ts
  tests/fixtures/latest.json
  tests/fixtures/symbols.json
  tests/tsconfig.json
  vite.config.js
Due: linter

tests
  package.json
  playwright.config.ts
  tests/converter.spec.ts
  tests/pages/app.ts
  tests/tsconfig.json
  vite.config.js
Due: linter

pin gh actions digests
  renovate.json
Due: none

set test reporter
  .github/workflows/main.yml
Due: none

updates
  package.json
  pnpm-lock.yaml
  src/components/CurrencyInput.svelte
Due: linter, styles

migrate to new api
  .eslintrc.json
  .github/workflows/main.yml
  .gitignore
  netlify.toml
  netlify/functions/rates.ts
  netlify/functions/symbols.ts
  netlify/functions/tsconfig.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/db.ts
  src/types.d.ts
  src/utils.ts
  tests/fixtures/rates.json
  tests/fixtures/symbols.json
  tests/pages/app.ts
  vite.config.js
Due: linter

configure api fetcher
  netlify/functions/rates.ts
  netlify/functions/symbols.ts
  src/db.ts
  src/utils.ts
Due: linter

updates
  package.json
  pnpm-lock.yaml
Due: none

Update renovate.json
  renovate.json
Due: none

minor updates to the netlify config and readme
  .vscode/settings.json
  README.md
  netlify.toml
Due: none

remove unused classes
  src/components/CurrencyBox.svelte
Due: linter, styles

refactor to ESLint flat config
  .eslintignore
  .eslintrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Flag.svelte
  src/components/ModalDialog.svelte
  uno.config.js
  vite.config.js
Due: linter, styles

update playwright and netlify
  package.json
  pnpm-lock.yaml
Due: none

update svelte deps
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

setup inter font
  index.html
  src/main.ts
  uno.config.js
Due: linter
