Repository dwightjack/currency-converter: changes, and which lefthook commands are due for each by the changed paths.
All: linter, styles

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    linter:
      glob: "*.{mjs,cjs,js,ts,svelte}"
      run: pnpm exec eslint {staged_files}
    styles:
      glob: "*.{css,svelte}"
      run: pnpm exec stylelint {staged_files}

modal management
  src/App.svelte
  src/components/ModalDialog.svelte
  src/stores/currency.ts
Due: linter, styles

states
  src/components/CalcButton.svelte
Due: linter, styles

refactoring logic and keyboard support
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
Due: linter, styles

basic calculator testing
  tests/calculator.spec.ts
  tests/pages/app.ts
  tests/pages/calculator.ts
Due: linter

add AC button test
  tests/calculator.spec.ts
Due: linter

calculator keyboard testing
  tests/calculator.spec.ts
Due: linter

code improvements
  src/components/Calculator.svelte
  src/components/ModalDialog.svelte
Due: linter, styles

calculator operator toggle logic
  src/components/Calculator.svelte
Due: linter, styles

state style
  src/components/CalcButton.svelte
  src/components/ControlButton.svelte
Due: linter, styles

hover for control buttons
  src/components/ControlButton.svelte
  src/components/CurrencyBox.svelte
  uno.config.js
Due: linter, styles

refactor class attribute
  src/components/ControlButton.svelte
  src/components/Inline.svelte
  src/components/Stacked.svelte
Due: linter, styles

refactoring icons they where bundled properly
  package.json
  pnpm-lock.yaml
  src/App.svelte
  src/components/Calculator.svelte
  src/components/ControlButton.svelte
  src/components/CurrencyBox.svelte
  src/components/Icon.svelte
  src/components/ModalDialog.svelte
  uno.config.js
Due: linter, styles

safer ci
  .github/workflows/main.yml
Due: none

improve and simplify input masking for numbers
  src/App.svelte
  src/components/CurrencyInput.svelte
Due: linter, styles

input formatting test
  tests/converter.spec.ts
Due: linter

improve flag loading feedback
  src/components/Flag.svelte
Due: linter, styles

initial setup of svelte 5
  index.html
  package.json
  pnpm-lock.yaml
  src/components/Calculator.svelte
  src/components/CurrencyBox.svelte
  src/components/Flag.svelte
  src/db.ts
  src/main.ts
  src/stores/currency.ts
  svelte.config.js
  tsconfig.json
  vite.config.js
Due: linter, styles

convert to runes
  src/App.svelte
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
  src/components/ControlButton.svelte
  src/components/CurrencyBox.svelte
  src/components/CurrencyInput.svelte
  src/components/Flag.svelte
  src/components/Inline.svelte
  src/components/ModalDialog.svelte
  src/components/Stacked.svelte
  src/stores/currency.svelte.ts
  src/stores/currency.ts
  src/stores/ui.svelte.ts
  src/stores/ui.ts
Due: linter, styles

fix
  package.json
  src/stores/currency.svelte.ts
  tests/pages/app.ts
  tests/pages/calculator.ts
Due: linter

update node and packages
  .node-version
  netlify/functions/rates.mts
  netlify/functions/symbols.mts
  netlify/functions/tsconfig.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

update lint tools
  package.json
  pnpm-lock.yaml
Due: none

use context instead of global stores
  src/App.svelte
  src/components/CurrencyBox.svelte
  src/stores/currency.svelte.ts
  src/stores/ui.svelte.ts
Due: linter, styles

simplify components and integration
  src/App.svelte
  src/components/CurrencyBox.svelte
  src/components/CurrencyInput.svelte
  src/components/CurrencySelect.svelte
Due: linter, styles

update tests
  src/App.svelte
  tests/converter.spec.ts
  tests/pages/app.ts
Due: linter, styles

revert to grid for better size control
  src/App.svelte
Due: linter, styles

test: review fixtures
  .vscode/settings.json
  package.json
  tests/calculator.spec.ts
  tests/converter.spec.ts
  tests/fixtures.ts
  tests/pages/app.ts
  tests/pages/calculator.ts
Due: linter

chore: lint
  src/components/ControlButton.svelte
Due: linter, styles

expose for dev
  package.json
Due: none

make box fill the screen on mobile
  src/components/CurrencyBox.svelte
Due: linter, styles

use a spritesheet for flags
  index.html
  public/flags.png
  src/components/Flag.svelte
  src/constants.ts
Due: linter, styles

update stack
  package.json
  pnpm-lock.yaml
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
  src/components/CurrencyInput.svelte
  src/components/CurrencySelect.svelte
  src/components/ModalDialog.svelte
  src/main.ts
  uno.config.js
Due: linter, styles

use custom selects
  index.html
  src/components/CurrencySelect.svelte
  src/components/Flag.svelte
  uno.config.js
Due: linter, styles

fix permissive selector
  uno.config.js
Due: linter

update lint and fix styles
  eslint.config.js
  netlify/functions/rates.mts
  package.json
  pnpm-lock.yaml
  src/App.svelte
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
  src/components/ControlButton.svelte
  src/components/CurrencyBox.svelte
  src/components/CurrencyInput.svelte
  src/components/CurrencySelect.svelte
  src/components/Flag.svelte
  src/components/Inline.svelte
  src/components/ModalDialog.svelte
  src/components/Stacked.svelte
  src/stores/currency.svelte.ts
  src/types.d.ts
  tests/fixtures.ts
  uno.config.js
Due: linter, styles

remove uno eslint because it makes vscode crash
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: linter

style custom select
  src/components/CurrencySelect.svelte
Due: linter, styles

refactor select style to prevent lightningcss from breaking
  src/components/CurrencySelect.svelte
  svelte.config.js
Due: linter, styles

dark mode
  src/components/CurrencySelect.svelte
Due: linter, styles

fallback
  src/components/CurrencySelect.svelte
  uno.config.js
Due: linter, styles

setup security
  pnpm-workspace.yaml
Due: none
