Repository dwightjack/currency-converter: changes, and which lefthook commands are due for each by the changed paths.
All: linter, styles

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    linter:
      glob: "*.{mjs,cjs,js,ts,svelte}"
      run: pnpm exec eslint {staged_files}
    styles:
      glob: "*.{css,svelte}"
      run: pnpm exec stylelint {staged_files}

fix: correct Playwright test reporter flag in CI workflow
  .github/workflows/main.yml
Due: none

Custom Select styles (#634)
  .github/workflows/main.yml
  eslint.config.js
  index.html
  netlify/functions/rates.mts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/App.svelte
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
  src/components/ControlButton.svelte
  src/components/CurrencyBox.svelte
  src/components/CurrencyInput.svelte
  src/components/CurrencySelect.svelte
  src/components/Flag.svelte
  src/components/Inline.svelte
  src/components/ModalDialog.svelte
  src/components/Stacked.svelte
  src/main.ts
  src/stores/currency.svelte.ts
  src/types.d.ts
  svelte.config.js
  tests/fixtures.ts
  uno.config.js
Due: linter, styles

improve configuration of pwa caching
  netlify.toml
  src/utils.ts
  vite.config.js
Due: linter

tmp
  eslint.config.js
  index.html
  package.json
  pnpm-lock.yaml
  public/flags.svg
  scripts/flags.mjs
  src/App.svelte
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
  src/components/ControlButton.svelte
  src/components/CurrencyBox.svelte
  src/components/CurrencyInput.svelte
  src/components/CurrencySelect.svelte
  src/components/Flag.svelte
  src/constants.ts
  uno.config.js
Due: linter, styles

like mac os calc
  src/components/Calculator.svelte
Due: linter, styles

feat: enhance flag handling and improve button themes
  public/flags.svg
  scripts/flags.mjs
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
  src/components/CurrencyInput.svelte
  src/components/Flag.svelte
  src/components/ModalDialog.svelte
  src/utils.ts
Due: linter, styles

fix: update UI styles for better responsiveness and consistency
  index.html
  src/App.svelte
Due: linter, styles

update tests
  .vscode/settings.json
  tests/calculator.spec.ts
  tests/fixtures.ts
  tests/pages/calculator.ts
Due: linter

fix tests
  tests/calculator.spec.ts
Due: linter

fix tests
  tests/converter.spec.ts
  tests/fixtures.ts
  tests/pages/app.ts
Due: linter

New UI (#638)
  .vscode/settings.json
  eslint.config.js
  index.html
  package.json
  pnpm-lock.yaml
  public/flags.svg
  scripts/flags.mjs
  src/App.svelte
  src/components/CalcButton.svelte
  src/components/Calculator.svelte
  src/components/ControlButton.svelte
  src/components/CurrencyBox.svelte
  src/components/CurrencyInput.svelte
  src/components/CurrencySelect.svelte
  src/components/Flag.svelte
  src/components/ModalDialog.svelte
  src/constants.ts
  src/utils.ts
  tests/calculator.spec.ts
  tests/converter.spec.ts
  tests/fixtures.ts
  tests/pages/app.ts
  tests/pages/calculator.ts
  uno.config.js
Due: linter, styles

update theme colors config
  vite.config.js
Due: linter

update theme colors for light and dark modes
  vite.config.js
Due: linter

remove unused manifest.json and add manifest link in index.html
  index.html
  public/manifest.json
Due: none

remove manifest link from index.html
  index.html
Due: none

update icon
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon-192.png
  public/icon-512.png
  public/icon-mask.png
  public/icon-old.svg
  public/icon.svg
  public/source-svg.svg
Due: none

update icon mask image
  public/icon-mask.png
Due: none

small pwa color adjustments
  vite.config.js
Due: linter

dark mode manifest
  index.html
  vite.config.js
Due: linter

add access check for dark mode manifest file
  vite.config.js
Due: linter

update base path
  vite.config.js
Due: linter

logging
  vite.config.js
Due: linter

dark mode manifest (#640)
  index.html
  vite.config.js
Due: linter

refactor
  vite.config.js
Due: linter

update pnpm version to 11
  package.json
Due: none

from prettier to oxfmt
  .github/actions/setup/action.yml
  .oxfmtrc.json
  .vscode/settings.json
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/components/Calculator.svelte
  src/components/CurrencySelect.svelte
  uno.config.js
  vite.config.js
Due: linter, styles

missing dep
  package.json
  pnpm-lock.yaml
Due: none

enlarge input area on mobile
  src/components/CurrencyBox.svelte
Due: linter, styles

update api functions signature and cache call instances to reduce cuncurrent calls
  netlify.toml
  netlify/functions/rates.mts
  netlify/functions/symbols.mts
  src/db.ts
  src/utils.ts
Due: linter

update nove version
  .node-version
  package.json
  pnpm-lock.yaml
Due: none

update ci actions versions
  .github/actions/setup/action.yml
  .github/workflows/main.yml
Due: none

update eslint to v10
  package.json
  pnpm-lock.yaml
Due: none

update unocss
  package.json
  pnpm-lock.yaml
Due: none

update netlify deps
  package.json
  pnpm-lock.yaml
Due: none

update lefthook
  package.json
  pnpm-lock.yaml
Due: none

update svelte
  package.json
  pnpm-lock.yaml
Due: none

update to TypeScript v6
  package.json
  pnpm-lock.yaml
  src/globals.d.ts
  src/stores/currency.svelte.ts
  tsconfig.json
Due: linter

fix test fixtures
  tests/fixtures.ts
Due: linter

Dependency updates and refactor (#642)
  .github/actions/setup/action.yml
  .github/workflows/main.yml
  .node-version
  .oxfmtrc.json
  .vscode/settings.json
  eslint.config.js
  lefthook.yml
  netlify.toml
  netlify/functions/rates.mts
  netlify/functions/symbols.mts
  package.json
  pnpm-lock.yaml
  src/components/Calculator.svelte
  src/components/CurrencyBox.svelte
  src/components/CurrencySelect.svelte
  src/db.ts
  src/globals.d.ts
  src/stores/currency.svelte.ts
  src/utils.ts
  tests/fixtures.ts
  tsconfig.json
  uno.config.js
  vite.config.js
Due: linter, styles
